#members {
  display: grid;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  width: max-content;
  height: 100%;
}
@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#second {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  height: 100%;
}

#line1 {
  font-size: 25px;
  text-align: center;
  font-family: "SEBANG_Gothic_Bold";
}

#list_menu {
  padding: 10px;
}

#info1 {
  font-size: 13px;
  margin: 5px;
  text-align: left;
}

#info2 {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 6px;
  margin-left: 5px;
  text-align: left;
}

#overlap {
  font-size: 12px;
  font-weight: 350;
  position: relative;
  margin: 5px 0px 0px 10px;
  float: right;
  font-family: "SEBANG_Gothic_Bold";
}

.li1 {
  font-size: 20px;
  margin: 15px 0 8px;
  font-weight: 600;
  text-align: left;
  font-family: "SEBANG_Gothic_Bold";
}

.li2 {
  font-size: 20px;
  margin: 15px 0 8px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px;
  font-family: "SEBANG_Gothic_Bold";
}

.type_as {
  margin: 20px 0px 20px;
  font-family: "SEBANG_Gothic_Bold";
}

.int_id {
  display: block;
  width: 100%;
  height: 54px;
  border: solid 1px #dadada;
  padding: 10px 0px 0px 10px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  font-family: "SEBANG_Gothic_Bold";
}

.int {
  border: none;
  position: relative;
  height: 30px;
  background: #fff;
  font-size: 18px;
  display: block;
  border-color: #dadada;
  outline: none;
}

.radio_shape {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  margin-top: -15px;
}
#whole {
  display: grid;
  margin: 0 auto;
  position: relative;
  width: max-content;
  height: 100%;
}

#member_info {
  text-align: center;
  font-size: 25px;
  margin-bottom: -10px;
  font-family: "SEBANG_Gothic_Bold";
}

#age {
  display: inline-flex;
  width: 100px;
  height: auto;
  font-size: 20px;
  position: relative;
}
#Height {
  display: inline-flex;
  width: 100px;
  height: auto;
  font-size: 20px;
  position: relative;
}
#Weight {
  display: inline-flex;
  width: 100px;
  height: auto;
  font-size: 20px;
  position: relative;
}

.act {
  padding: 10px;
  margin: 10px;
}

.info {
  display: inline-flex;
  margin: 10px 0px 0px;
  padding: 10px;
  font-family: "SEBANG_Gothic_Bold";
}

.input_box {
  padding: auto 10px 10px auto;
  margin: 20px 10px 10px auto;
}

.option {
  font-size: 23px;
  margin: 15px 15px 8px;
  font-weight: 550;
  text-align: left;
}

.radio_shape {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
}

.radio_shape input.act {
  vertical-align: auto;
  width: 18px;
  height: 18px;
  padding: 0px;
}

#btn_complete {
  font-size: 15px;
  width: 100px;
  height: 40px;
  position: relative;
  margin: 5px 0px 0px 10px;
  float: right;
  font-family: "SEBANG_Gothic_Bold";
}

#act_change {
  display: block;
  position: relative;
  justify-content: center;
  left: 45%;
  margin-top: 10%;
  font-size: 20px;
  border: aliceblue;
  border-width: 3px;
  border-style: groove;
  background-color: whitesmoke;
}
